@font-face {
    font-family: 'brushstroke-plain';
    src: url('./fonts/brushs_1-webfont.woff2') format('woff2'),
         url('./fonts/brushs_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}