html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

#noughts-n-crosses {
    padding-top: 10vh;
}

.flip-container {
    width: 40vh;
    height: 40vh;
    min-width: 200px;
    min-height: 200px;
    margin: 0 auto;
    
    perspective: 1000px;
    transition: 0.6s;
    transform-style: preserve-3d;
    
    &__flipper {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.6s;
        transform-style: preserve-3d;
        &.active {
            transform: rotateY(180deg);
        }
    }
}

.controls, .board {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.board {
    transform: rotateY(180deg);
    border: 1px solid #000;
    
    &__cell {
        float: left;
        position: relative;
        width: 33.333333333%;
        height: 33.333333333%;
        font-size: 50px;
        border: 1px solid #000;
        box-sizing: border-box;

        & span {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
        &:active {
            background-color: #AFBAE5;
        }
        &.strike:after {
            position: absolute;
            width: 80%;
            height: 3px;
            background-color: #000;
            top: 50%; left: 50%;
            margin-top: -3px; margin-left: -40%;
            transform: rotate(0);
            content: '';
        }
    }
}

.controls {
    border: 2px solid #000;
    
    &__title {
        margin-bottom: 10vh;
        text-align: center;
        text-decoration: underline;
        font-size: 24px;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    &__item {
        margin: 10px 0;
        text-align: center;
    }

    &__btn {
        border: none;
        background-color: transparent;
        font-size: 20px;
        cursor: pointer;
    }
}

.game-message {
    padding-top: 0.5rem;
    font-size: 24px;
    text-align: center;
}